name: Tests

on: [push, pull_request]

jobs:
  poetry:
    name: "poetry, python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - run: pipx install poetry
      - uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python-version }}"
          cache: poetry
      - run: poetry install -E deps
      - run: poetry run python -m gym_talos -config config/config_RL.yaml

  mamba:
    name: "mamba, python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - uses: mamba-org/setup-micromamba@v1
        with:
          cache-environment: true
          create-args: python=${{ matrix.python-version }}
          environment-file: environment.yml
          init-shell: bash
          post-cleanup: 'all'
      - run: micromamba run -n talos-rl python -m gym_talos -config config/config_RL.yaml
